<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{{ restaurant.name }} - 상세 정보</title>
    
    {% load static %}
    <link rel="icon" href="{% static 'michelinmap/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'michelinmap/detail.css' %}">  
</head>
<body>
    <header>
        <h1 class="header-title">
            <a href="{% url 'michelinmap:index' %}" title="메인 페이지로 이동">
                <img class="img-title" src="{% static 'michelinmap/img/title.png' %}" alt="미슐랭 맛집 지도"> 
            </a>
        </h1>
    </header>
    <div class="container">
        <div class="restaurant-info">
            <h2>{{ restaurant.name }}</h2>
            <span class="category-price">{{ restaurant.category }} · {{ restaurant.price }}</span>
            <div class="info-item address-line">
                <img src="{% static 'michelinmap/img/ping.png' %}" alt="위치 아이콘" class="icon">
                <span class="address">{{ restaurant.address }}</span>
            </div>
            
            {% if restaurant.call_number %}
                <div class="info-item phone-line">
                    <img src="{% static 'michelinmap/img/phone.png' %}" alt="전화 아이콘" class="icon">
                    <span class="yes-number">{{ restaurant.call_number }}</span>
                </div>
            {% else %}
                <div class="info-item phone-line no-number">
                    <img src="{% static 'michelinmap/img/phone.png' %}" alt="전화 아이콘" class="icon">
                    <span class="no-number">전화번호 없음</span>
                </div>
            {% endif %}
            <a href="{{ restaurant.page }}">미쉐린 가이드 페이지 바로가기 &rarr;</a>
        </div>
        {% if restaurant.rating %}
        <div class="rating-section">
            <div class="rating-score">
                <h3> {{ restaurant.rating }} </h3>
                <p> 리뷰 : {{restaurant.review_cnt}}개</p>
            </div>
            <div class="rating-chart">
                {{ star_ratio|json_script:"star_ratio" }}
                <canvas id="starChart"></canvas>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="{% static 'michelinmap/star_chart.js' %}"></script>
            </div>
        </div>
        <div class="wordcloud-container">
            <div class="good-wc">
                <p>#GOOD #리뷰 #키워드</p>
                {% if good_wc %}
                <div class="wordcloud-image-wrapper">
                    <img src="data:image/png;base64,{{ good_wc }}" alt="긍정 리뷰"/>
                </div>
                {% else %}
                    <p>긍정 리뷰가 없습니다.</p>
                {% endif %}
            </div>
            <div class="bad-wc">
                <p>#BAD #리뷰 #키워드</p>
                {% if bad_wc %}
                <div class="wordcloud-image-wrapper">
                    <img src="data:image/png;base64,{{ bad_wc }}" alt="부정 리뷰"/>
                </div>
                {% else %}
                    <p>부정 리뷰가 없습니다.</p>
                {% endif %}
            </div>
        </div>
        {% else %}
            <h4 class="no-review"> 후기 미제공 </h4>
        {% endif %}
    </div>
</body>
</html>